body {
    /* font-family: Arial, sans-serif;
    background-color: #3950e4;
    margin: 0;
    padding: 20px;  */
     background:url(/image/guitien_im.png);
    background-size: cover; 
    background-repeat: no-repeat; /*ko lap lai hinh*/
   
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    
}

h2 {
    text-align: center;
    color: #333;
}

.saving-account-form {
    max-width: 800px;
    margin: 0 auto;
    background-color: rgb(234, 239, 70);
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
    display: grid;
    gap: 10px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

label {
    font-weight: bold;
}

input[type="text"], input[type="number"], input[type="date"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #72e670;
    color: rgb(26, 14, 14);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
    border: 1px solid #54a0ff ;
}
